*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}
:root{
    --main-color: #020407;
    --secondary-color:#E39F2D;
    --secondar-tet-color:#E2AA3F;
    --third-text-color:	 #ebc37a;
    --main-text-color:#FDFCFC;
    --bg-color:#050408;
    --about-bg:#0F0F11;
}
img{
    width: 100%;

}
body{
    background-color: var(--bg-color);
}
.blur-bg{
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10005;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 99;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
    background-color: var(--main-color);
    transition: 0.5s linear;
}
a img{
    width: 23%;
}
.nav-bar{
   
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 33rem;
    justify-content: space-between;
    
    
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.nav-bar a{
    padding: 7px;
    color: var(--main-text-color);
     font-family: "Valley Sans", sans-serif;
}
.nav-bar a:hover{
    color: var(--secondar-tet-color);
    border-bottom: 1px solid var(--secondar-tet-color);
    
}
.nav-link{
    position: absolute;
    margin-left: 78rem;
    padding: 10px 16px;    
    border: 1px solid var(--secondar-tet-color);
    border-radius: 0.6rem;

}
.nav-link a{
    color: var(--secondar-tet-color);
    font-family: "Valley Sans", sans-serif;
}    
.nav-link:hover{
    transform: scale(1.01);
}
.home-page{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/a-back3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}
.home-img img{
   width: 67%;
   margin-left: 9rem;
   margin-top: 6rem;
}
.home-text{
    margin-left: 5rem;
    margin-top: -3rem;
}
.home-text h1{
    position: relative;
    top: 5rem;
    display: inline-flex;
    gap: 10px;
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-family: "Oswald", sans-serif;
    margin-top: -4rem;
    border: 1px solid var(--main-text-color);
    border-radius: 1rem;
    padding: 0px 10px 1px 1px;
    text-align: center;
    
}
.home-text h1 svg{
    position: relative;
    margin-right: -30px;
    margin-top: -20px;
    top: 12px;
    left: -8px;
    text-align: center;
}
.home-text h2{
    position: relative;
    top: 6rem;
    color: var(--main-text-color);
    font-size: 4rem;
    text-transform: capitalize;
  font-family: "Work Sans", sans-serif;

}
.home-text h3{
    position: relative;
    top: 5rem;
    color: var(--main-text-color);
    font-size: 4rem;
    text-transform: capitalize;
    
}
.home-text h4{
    position: relative;
    top: 4.5rem;
    font-size: 4rem;
    text-transform: capitalize;
    font-family: "Work Sans", sans-serif;   

    background: linear-gradient(
        to top,
        var(--secondar-tet-color) 0%,
        var(--secondar-tet-color) 15%,
        var(--third-text-color) 60%,
        var(--third-text-color) 100%
    );

    background-clip: text;    
    color: transparent;
   
}
.home-text p{
    position: relative;
    color: var(--main-text-color);
    font-family: "Google Sans", sans-serif;
    top: 5rem;
    margin-left: 0.3rem;
    
}
.home-text #our{
       position: relative;
       top: 4rem;
       color: var(--main-color);
       padding: 10px 15px;
       margin-top: 3rem;
       font-size: 1rem;
       font-family: "Google Sans", sans-serif;
       letter-spacing: 0.5px;
       border-radius: 0.5rem;
       border: none;
       text-transform: capitalize;
       background:linear-gradient(
        to top,
        var(--secondary-color) 0%,
        var(--secondary-color) 15%,
        var(--third-text-color) 65%,
        var(--third-text-color) 100%
       );     
}

.home-text #our:hover{
        transform: scale(1.01);
        cursor: pointer;
}

.home-text #intro{
    position: relative;
    color: var(--main-text-color);
    background-color: var(--main-color);
    font-size: 1rem;
    font-family: "Google Sans", sans-serif;
    padding: 0px 15px 10px 15px;
    border-radius: 0.5rem;
    top: 4rem;
    margin-left: 1rem;
    
}
.home-text #intro svg{
    position: relative;
    margin-right: 5px;
    top: 5px;   
       
}
.home-text #intro:hover{
    transform: scale(1.01);
}
.invideo{
    position: fixed;
    width: 1000px;
    height: auto;
    top: 9.5rem;
    align-items: center;
    right: 16.5rem;
    border-radius: 2rem;
    display: none;
    z-index: 10000;
}
.home-text h5 svg{
    position: fixed;
    left: 81rem;
    margin-top: -25rem;
    display: none;
    cursor: pointer;
    z-index: 10000;
}
